.topheader{
    writing-mode: vertical-lr;
    text-orientation: upright;
}
body{
    background-color: aquamarine;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
a{
    font-size: 20px;
}
.button1{
    background-color: aqua;
}
button{
    height: 50px;
    width: 150px;
    font-size: 20px;
    border-radius: 12px;
    cursor: pointer;  
}
div.linkbuttons{
    display: flex;
    justify-content: space-evenly;
    margin-top: auto;
    margin-bottom: 20px; /* Adjust for desired space from the bottom */
}
div.headerwords{
    margin: auto;
    width: 25%;
    padding: 10px;
    padding-bottom: 30px;
    writing-mode: vertical-lr;
    text-orientation: upright;
}
.L{
    color: red;
}
.G{ 
    color: orange;
}
.B{
    color:yellow;
}
.T{
    color: green;
}
.Q{
    color: #004CFF;
}
.A{
    color: #732982;
}
div.left{
    writing-mode: vertical-lr;
    text-orientation: upright;
}